# Public Client Firebase Config
NEXT_PUBLIC_FIREBASE_API_KEY="your_api_key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="your_project.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="your_project_id"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="your_project.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="your_sender_id"
NEXT_PUBLIC_FIREBASE_APP_ID="your_app_id"
NEXT_PUBLIC_FIREBASE_DATABASE_URL="https://your_project.firebaseio.com"

# Admin SDK / Server Config (Service Account JSON থেকে)
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxx@your_project.iam.gserviceaccount.com"
# Private key এর \n গুলো ঠিক রাখতে ডাবল কোটেশন ব্যবহার করবেন
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYourKeyHere\n-----END PRIVATE KEY-----\n"


NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=



# next-firebase-auth-edge Config
# একটা স্ট্রং রেন্ডম স্ট্রিং জেনারেট করে এখানে বসান (e.g., openssl rand -base64 32)
COOKIE_SECRET_CURRENT="super_secret_cookie_key_for_nexscore_min_32_chars"
COOKIE_SECRET_PREVIOUS="previous_secret_if_any"