rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ম্যাচ হিস্ট্রি ও আর্কাইভ পাবলিক ভিউয়াররা পড়তে পারবে
    match /matches_history/{document=**} {
      allow read: if true;
      // ক্লায়েন্ট সাইড থেকে কোনো রাইট/আপডেট/ডিলিট সম্পূর্ণ নিষিদ্ধ
      allow write: if false;
    }
  }
}